body{
    background-color: cornflowerblue;
}
p{
    color: white;
    font-size: 25px;
    font-style: italic;
}
h1{
    text-transform: uppercase;
    color: cornflowerblue;
}

img{
    border: solid royalblue 5px;
    border-radius: 20px;
}